[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/Simtime/venv/bin/uwsgi -i /home/ubuntu/Simtime/Simtime/.config/uwsgi/Simtime.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
